.event_section {
    padding: 4rem 6rem;
    padding-top: calc(4rem + 100px);
}

.event_section  {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6rem;
}

.event_section  .left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.event_section  .left h1{
    font-size: 3rem;
    line-height: 1;
    color: var(--color-dark);
}

.event_section  .left .description {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.6;
    color: var(--color-black);
}

.event_section  .left .details {
    display: flex;
    gap: 4rem;
}

.event_section  .left .details span p:nth-child(1){
    color: var(--color-primary);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.event_section  .left .details span p:nth-child(2){
    color: var(--color-black);
}

.event_section  .left .organizers p{
    color: var(--color-primary);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.event_section  .left .organizers table {
    color: var(--color-black);
    border: 1px solid var(--color-light);
    width: 100%;
    border-collapse: collapse;

}

.event_section  .left .organizers table thead {
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-accent);
}

.event_section  .left .organizers table thead td {
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--color-white);
}

.event_section  .left .organizers table tbody {
    font-weight: 400;
}

.event_section  .left .organizers table tbody td {
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--color-white);
    background-color: var(--color-light);
}

.event_section  .left .organizers table tbody tr {
}

.event_section  .left .organizers table tbody tr td a {
    color: var(--color-black);
}

.event_section  .left .rules p{
    color: var(--color-primary);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.event_section  .left .rules ul {
    list-style: circle inside;
    padding-left: 1rem;
}

.event_section  .left .rules ul li {
    margin-bottom: 0.25rem;
    text-align: justify;
}

.event_section  .right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.event_section  .right .poster{
    width: 100%;
}

@media only screen and (max-width:780px) {
    .event_section {
        grid-template-columns: 1fr;
        padding: 2rem 1.5rem;
        padding-top: calc(2rem + 100px);
        gap: 2rem;
    }

    .event_section  .left h1 {
        font-size: 2.5rem;
    }

    .event_section  .left .details {
        flex-direction: column;
        gap: 2rem
    }

    .event_section  .left .organizers table thead td {
        padding: 0.5rem 0.75rem;
        line-height: 1;
    }

    .event_section  .left .organizers table tbody td {
        padding: 0.75rem 0.75rem;
        line-height: 1;
    }   
    
    .event_section  .left .rules ul {
        padding-left: 0rem;
    }
}