$body-font: "Karla", sans-serif;

.teambody {
  overflow: hidden;
  background: #111113;
  background-image: radial-gradient(
    circle at top left,
    #950923 10%,
    #111113 30%
  );
  height: 100%;
  font-family: $body-font;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  font-family: $body-font;

  // Mobile view adjustments
  @media (max-width: 768px) {
    height: auto; // Adjust height to fit the content on smaller screens
    padding-bottom: 20px; // Add padding if necessary to avoid clipping
  }
}
.header {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
  overflow: hidden;
  transition: 0.45s ease 0.05s;
  &-title {
    width: 100%;
    font-size: 3.3em;
    color: #fbf9bd;
    margin-bottom: 15px;
  }
  &-tagline {
    width: 100%;
    font-size: 1.2em;
    color: rgba(#fbf9bd, 0.7);
  }
}

.team-container {
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.person {
  width: calc(25% - 30px);
  cursor: pointer;
  overflow: hidden;
  transition: 0.45s;
  position: relative;
  &-details {
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: -15px;
    transition: 0.3s;
  }
  &-img {
    width: 100%;
    height: 360px;
    object-fit: cover;
  }
  &-title {
    color: #fff;
    font-size: 2em;
  }
  &-desc {
    color: rgba(#fff, 0.2);
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    &:hover {
      .person {
        opacity: 0.6;
      }
    }
  }
  &:hover {
    opacity: 1 !important;
  }
  &:before {
    position: absolute;
    left: 20px; /* or any value depending on your needs */
    top: 20px; /* Adjust top position if necessary */
    width: 100%; /* Adjust width as per icon size */
    height: 40px;
    content: ""; /* Or use an icon here */
    font-size: 20px; /* Adjust font size for icon */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &:after {
    content: "\f2ca";
    font-family: "Ionicons";
    font-size: 36px;
    color: #282828;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    left: 0;
    flex-direction: column;
    z-index: 1000; /* Ensures it's above other content */
  }
}

.container-selected {
  .header {
    max-height: 0px;
  }
  .person {
    opacity: 0 !important;
    pointer-events: none;
  }
  .person-list .person-selected {
    opacity: 1 !important;

    &:before {
      height: 100%;
    }
    .person-details {
      margin-top: -40px;
      opacity: 0;
    }
  }
}
.team-detail {
  position: absolute;
  width: calc(100% - 100px);
  right: 80px;
  top: 0;
  height: 100%;
  color: #fff;
  transition: 0.15s;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  &-bio {
    &-content {
      p {
        margin-bottom: 15px;
        line-height: 25px;
        font-size: 1.05em;
      }
    }
  }
  &-header {
    margin-bottom: 30px;
  }
  &-inner {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &-left {
    position: relative;
    width: 650px;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &:before {
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(#282828, 0.8);
      position: absolute;
      right: 0;
      top: 0;
    }
    &:after {
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        to right,
        rgba(40, 40, 40, 0) 9%,
        rgba(40, 40, 40, 0) 10%,
        rgba(40, 40, 40, 0) 38%,
        #151518 92%,
        #111113 100%
      );

      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &-photo {
    position: relative;
    text-align: center;
    z-index: 999;
    width: 100%;
    font-size: 0px;
    img {
      max-width: 100%;
      box-shadow: 0 10px 22px rgba(0, 0, 0, 0.3);
    }
  }
  &-right {
    box-sizing: border-box;
    width: calc(100% - 650px);
    min-height: 100%;
    display: flex;
    align-items: center;
    padding-right: 10%;
    position: relative;
    right: 0;
    flex-wrap: wrap;
    .person-title {
      font-size: 2.2em;
    }
  }
}

.container-ready {
  .team-detail {
    transition: 0.45s ease 0.3s;
    opacity: 1;
    right: 0;
    visibility: visible;
    img {
      width: 75%;
    }
  }
  .team-container {
    height: 0px;
    overflow: hidden;
  }
  .person-selected {
    left: 0px !important;
    top: 0px !important;
    z-index: 99;
    height: 100% !important;
    width: 100px !important;
    pointer-events: auto;
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.person-back {
  &:before {
    height: 0px !important;
  }
  .person-details {
    margin-top: -15px !important;
    transition-delay: 0.35s;
    opacity: 1 !important;
  }
}

.social {
  margin-top: 15px;
  a {
    color: #fbf9bd;
    font-size: 20px;
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
  a img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7056%)
      hue-rotate(230deg) brightness(106%) contrast(106%);
  }
}

@media (max-width: 1200px) {
  .team-detail-left {
    width: 400px;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .team-detail-right {
    padding-right: 0;
    width: calc(100% - 440px);
  }
  .person .person-title {
    font-size: 1.7em;
  }
  .person-details {
    padding: 0 10px;
  }
}

@media (max-width: 970px) {
  .team-detail-left {
    width: 100%;
    padding: 50px 50px 30px 50px;
    &:after {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(33, 33, 33, 1) 83%,
        rgba(40, 40, 40, 1) 100%
      );
    }
  }
  .team-detail-right {
    padding: 0 50px;
    width: 100%;
  }
  .team-detail-header {
    text-align: center;
  }
  .container-ready .person-selected {
    width: 50px !important;
  }
  .team-detail {
    width: calc(100% - 50px);
  }
  .person {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .person {
    width: 100%;
    margin-bottom: 50px;
  }
  .header {
    margin-top: 50px;
  }
}
